<h1>Flight Results</h1>
<table>
	<tr>
		<th>Departing airport</th>
		<th>Arriving airport</th>
		<th>Date</th>
		<th>Passengers</th>
	</tr>
	<tr>
		<td><%= @from_code %></td>
		<td><%= @to_code %></td>
		<td><%= @date %></td>
		<td><%= @num_tickets %></td>
	</tr>
</table>



<% if @results %>
	<%= form_tag(root_url, method: "get") do %>
		<%= hidden_field_tag(:num_tickets, @num_tickets) %>
		<table>
			<th></th>
			<th>Departing</th>
			<th>Arriving</th>
			<th>Date</th>
			<th>Duration</th>
			<%= collection_radio_buttons(:flight, :flight_id, @results, :id, :start_formatted) do |b| %>
				<tr>
					<td><%= b.radio_button %></td>
					<td><%= b.object.from_airport.airport_code %></td>
					<td><%= b.object.to_airport.airport_code %></td>
					<td><%= b.object.start_formatted %></td>
					<td><%= b.object.flight_duration %> Minutes</td>
				</tr>
			<% end %><br>
		</table>
	<%= submit_tag("Book flight") %>
	<% end %>
<% else %>
<h3>No flights match your specifications</h3>
<% end %>